#cc-main {
  --cc-font-family: inherit;
  --cc-primary-color: #542b3a;
  --cc-bg: #fbf8f1;
  --cc-btn-primary-bg: #542b3a;
  --cc-btn-primary-color: #fbf8f1;
  --cc-btn-primary-border-color: #542b3a;
  --cc-btn-primary-hover-bg: #3c1c29;
  --cc-btn-primary-hover-border-color: #3c1c29;
  --cc-btn-secondary-bg: #542b3a;
  --cc-btn-secondary-color: #fbf8f1;
  --cc-btn-secondary-border-color: #542b3a;
  --cc-btn-secondary-hover-bg: #3c1c29;
  --cc-btn-secondary-hover-color: #fbf8f1;
  --cc-btn-secondary-hover-border-color: #3c1c29;
  --cc-toggle-on-bg: #542b3a;
  --cc-cookie-category-block-bg: #efe7e5;
  --cc-cookie-category-block-hover-bg: #e4d8d8;
}
