@tailwind base;

html,
body {
  scroll-behavior: smooth;
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
