---
import MapSection from '../components/landing-page/map/MapSection';
import Footer from '../components/layout/Footer';
import ContactWrapper from '../components/landing-page/contact/ContactWrapper';
import WhenToConsult from '../components/landing-page/when-to-consult/WhenToConsult';
import BaseLayout from '../layouts/BaseLayout.astro';
import AnimalSectionWrapper from '../layouts/wrappers/AnimalSectionWrapper.astro';
import DeroulementConsultationWrapper from '../layouts/wrappers/DeroulementConsultationWrapper.astro';
import HeroWrapper from '../layouts/wrappers/HeroWrapper.astro';
import OsteopathieAnimaleWrapper from '../layouts/wrappers/OsteopathieAnimaleWrapper.astro';
import PrixWrapper from '../layouts/wrappers/PrixWrapper.astro';
import QuiSuisJeWrapper from '../layouts/wrappers/QuiSuisJeWrapper.astro';
import { LOCAL_BUSINESS_SCHEMA, SITE_CONFIG } from '../lib/constants/site';

const title = SITE_CONFIG.title;
const description = SITE_CONFIG.description;
---

<BaseLayout title={title} description={description} schema={LOCAL_BUSINESS_SCHEMA}>
  <div>
    <main id="root">
      <HeroWrapper />
      <div id="animaux">
        <AnimalSectionWrapper />
      </div>
      <MapSection client:visible />
      <WhenToConsult id="quand-consulter" />
      <PrixWrapper id="tarifs" />
      <DeroulementConsultationWrapper />
      <OsteopathieAnimaleWrapper id="osteopathie" />
      <QuiSuisJeWrapper />
      <div class="recaptcha-wrapper">
        <ContactWrapper id="contact" client:visible />
      </div>
    </main>
    <Footer client:visible />
  </div>
</BaseLayout>
